<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Films app</span>
  <a mat-flat-button color="primary" href="/users"><mat-icon>group</mat-icon>users</a>
  <a mat-flat-button color="primary" href="/extended-users"><mat-icon>group</mat-icon>Extended users</a>

  <span class="spacer"></span>
  
  <a mat-flat-button color="primary" href="/login"><mat-icon>login</mat-icon>login</a>
</mat-toolbar>